body{
    font-family: 'Rubik', sans-serif;
}
header{
    min-height: 100vh;
    
    color: white;
    background-image: url("img/hero_bg_2.jpg");
    background-size: cover;
    
    
    h1{
        font-size: 1.5rem;
        font-weight: bolder;
    }
    
    h2{
        font-size: 4rem;
        
        
    }

    .title{
        width: 50%;
        padding-top: 10rem;
        min-height: 90vh;
        margin-left: 3rem;
        .scroll{
            text-align: right;
        }
    }

    
    ul{
        list-style: none;
        
        li{
            margin-left: .5em;
            
            &:hover{
                
                border-bottom: white 3px solid;
            }
        }
    }
    
    a{
        color: white;
    }
    
    .header-container{
        
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,20,109,1) 0%, rgba(255,0,76,1) 96%);
        opacity: 0.50;
        min-height: 100vh;
        z-index: 999;
        .head{
            padding: 1rem 2rem 1rem 2rem;
            min-height: 10vh
        }
    }
}



.section1{
    padding:4rem;
    .col-md-4{
        padding:0 1rem ;
    }
    .card{
        -webkit-box-shadow: 12px 3px 16px -4px rgba(207,191,207,1);
        -moz-box-shadow: 12px 3px 16px -4px rgba(207,191,207,1);
        box-shadow: 12px 3px 16px -4px rgba(207,191,207,1);

        border-radius:0;
        margin-bottom: 1em;
        border: none;

        p, li{
            color: rgb(150, 150, 150);
        }
        
        i{
            font-size:3.5rem;
            padding:3rem;
            text-align:center
            
        }
        
        ul{
            list-style: none;
            padding: 0;

            i{
                font-size: 1rem;
                padding: 0;
                margin-right: .5rem;
                color: #dc3545;
            }
        }

    }

    .btn{
        padding: .5em 3em;
    }
}

.section2{


    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,20,109,1) 0%, rgba(255,0,76,1) 96%);
    color: white;
    padding:4rem;

    .card-container{
        padding: 0 2em;
    }
    p{
        color: rgb(150, 150, 150);

    }
    .card{
        margin-top:3rem;
        border: none;
        border-radius: 0;
        color: black;
        img{
            border-radius: 0;
        }
        p{
            color: rgb(150, 150, 150);
        }
        .votes{
            border-top: 1px gray solid;
    
            a{
                color:#dc3545;
            }
        }
    }
    .btn{
        color:white;
        border:solid white 1px;
        border-radius: 5px;
        padding: .5em 3em;
        

    }
}

.section3{
    background: lightgray;
    padding:4rem;
    p{
        color: rgb(150, 150, 150);

    }

    .row{
        div{
            margin-bottom: 2rem;
            padding: 0 2em;
            h4,a{
                color:#dc3545
            }
            p{
                font-size: 0.9rem;
            }
            i{
                font-size:1.2rem;
                margin-right: 0.5rem;;
            }
        }
    }
}

.section4{
    padding: 4rem;

    p{
        color: gray;
    }
    a{
        color: #dc3545;
    }

    .connect{

        h3{
            font-size: 1.7rem;
            margin-top: 3rem;
        }
        
        i{
            margin: 1em 0 0 1em;
            font-size: 1.5rem;
        }
    }

    .card{
        border: none;

        .card-body{
            padding-top: 0;
        }
    }
      
}
footer{
    p{
        color: rgb(150, 150, 150);

    }
    a{
        color:#dc3545
    }
}

@media screen and (max-width:766px){
    .imagesample{
        img{
            max-width:100%
        }
    }

    header{
        ul{
            display: flex;
            flex-direction: column;
        }
    }

    .section1,.section2,.section3,.section4{
        padding:1rem 1rem;
    }
    
    header{
        
        
        h1{
            font-size: 1.5rem;
            font-weight: bolder;
        }
        
        h2{
            font-size: 2rem;
            
            
        }
    
        .title{
            width: 100%;
            padding-top: 0rem;
            min-height: 90vh;
            margin-left: 0rem;
            .scroll{
                text-align: right;
            }
        }
    
        
        ul{
            list-style: none;
            
            li{
                margin-left: .5em;
                
                &:hover{
                    
                    border-bottom: white 3px solid;
                }
            }
        }
        
        a{
            color: white;
        }
        
        .header-container{
            
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,20,109,1) 0%, rgba(255,0,76,1) 96%);
            opacity: 0.50;
            min-height: 100vh;
            z-index: 999;
            .head{
                padding: 1rem 2rem 1rem 2rem;
                min-height: 10vh
            }
        }
    }
}

@media screen and (min-width:1200px){

.container-fluid{
    max-width:75%;
}
.section3{
    p{
        width:75%;
        margin:auto;
    }
}

}


@media screen and (min-width:767px){

    .imagesample{
        
        .col-md-3,.col-md-6{
            padding:0;
            margin:0;
            position: relative;
            padding-top:25%;
            overflow: hidden;
            img{
                border-radius:0;
                height:100%;
                top:0;
                left:0;
                // bottom:0;
                // right:0;
                position: absolute;
                width:100%;
                filter : brightness(70%);  
                object-fit: cover;
            }
        }
    }
    
    
    }



