header{
    min-height: 100vh;
    background-image: url("https://i.f1g.fr/media/madame/orig/sites/default/files/img/2018/11/salon_decoration_contemporain_hubstairs.jpg");
    background-size: cover;
    color: white;

    
    h1{
        font-size: 1.5rem;
        font-weight: bolder;
    }

    h2{
        font-size: 3rem;
    }

    .title{
        width: 55%;
        padding-top: 5rem;
        min-height: 90vh;
        .scroll{
            text-align: right;
        }
    }

    
    ul{
        list-style: none;
        
        li{
            margin-left: .5em;
            
            &:hover{
                
                border-bottom: white 3px solid;
            }
        }
    }
    
    a{
        color: white;
    }
    
    .header-container{
        background: rgba(248, 158, 248, 0.5);
        min-height: 100vh;
        .head{
            padding: 1rem 2rem 1rem 2rem;
            min-height: 10vh
        }
    }
}

.imagesample{
    
    .col-3,.col-6{
        padding:0;
        margin:0;
        position: relative;
        padding-top:25%;
        overflow: hidden;
        img{
            border-radius:0;
            height:100%;
            top:0;
            left:0;
            // bottom:0;
            // right:0;
            position: absolute;
            max-width:100%;
            filter : brightness(70%);  
            object-fit: cover;
        }
    }
}

.section1{
    padding:4rem;
    .col-4{
        padding:0 1rem ;
    }
    .card{
        -webkit-box-shadow: 12px 3px 16px -4px rgba(207,191,207,1);
        -moz-box-shadow: 12px 3px 16px -4px rgba(207,191,207,1);
        box-shadow: 12px 3px 16px -4px rgba(207,191,207,1);

        border-radius:0;
        margin-bottom: 1em;
        border: none;

        p, li{
            color: rgb(150, 150, 150);
        }
        
        i{
            font-size:3.5rem;
            padding:3rem;
            text-align:center
            
        }
        
        ul{
            list-style: none;
            padding: 0;

            i{
                font-size: 1rem;
                padding: 0;
                margin-right: .5rem;
                color: #dc3545;
            }
        }

    }

    .btn{
        padding: .5em 3em;
    }
}

.section2{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,20,109,1) 0%, rgba(255,0,76,1) 96%);
    color: white;

    .card-container{
        padding: 0 2em;
    }

    .card{
        border: none;
        border-radius: 0;
        color: black;
        img{
            border-radius: 0;
        }
    }
    .votes{
        border-top: 1px gray solid;

        a{

        }
    }
}