body {
  font-family: 'Rubik', sans-serif; }

header {
  min-height: 100vh;
  color: white;
  background-image: url("img/hero_bg_2.jpg");
  background-size: cover; }
  header h1 {
    font-size: 1.5rem;
    font-weight: bolder; }
  header h2 {
    font-size: 4rem; }
  header .title {
    width: 50%;
    padding-top: 10rem;
    min-height: 90vh;
    margin-left: 3rem; }
    header .title .scroll {
      text-align: right; }
  header ul {
    list-style: none; }
    header ul li {
      margin-left: .5em; }
      header ul li:hover {
        border-bottom: white 3px solid; }
  header a {
    color: white; }
  header .header-container {
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #da146d 0%, #ff004c 96%);
    opacity: 0.50;
    min-height: 100vh;
    z-index: 999; }
    header .header-container .head {
      padding: 1rem 2rem 1rem 2rem;
      min-height: 10vh; }

.section1 {
  padding: 4rem; }
  .section1 .col-md-4 {
    padding: 0 1rem; }
  .section1 .card {
    -webkit-box-shadow: 12px 3px 16px -4px #cfbfcf;
    -moz-box-shadow: 12px 3px 16px -4px #cfbfcf;
    box-shadow: 12px 3px 16px -4px #cfbfcf;
    border-radius: 0;
    margin-bottom: 1em;
    border: none; }
    .section1 .card p, .section1 .card li {
      color: #969696; }
    .section1 .card i {
      font-size: 3.5rem;
      padding: 3rem;
      text-align: center; }
    .section1 .card ul {
      list-style: none;
      padding: 0; }
      .section1 .card ul i {
        font-size: 1rem;
        padding: 0;
        margin-right: .5rem;
        color: #dc3545; }
  .section1 .btn {
    padding: .5em 3em; }

.section2 {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #da146d 0%, #ff004c 96%);
  color: white;
  padding: 4rem; }
  .section2 .card-container {
    padding: 0 2em; }
  .section2 p {
    color: #969696; }
  .section2 .card {
    margin-top: 3rem;
    border: none;
    border-radius: 0;
    color: black; }
    .section2 .card img {
      border-radius: 0; }
    .section2 .card p {
      color: #969696; }
    .section2 .card .votes {
      border-top: 1px gray solid; }
      .section2 .card .votes a {
        color: #dc3545; }
  .section2 .btn {
    color: white;
    border: solid white 1px;
    border-radius: 5px;
    padding: .5em 3em; }

.section3 {
  background: lightgray;
  padding: 4rem; }
  .section3 p {
    color: #969696; }
  .section3 .row div {
    margin-bottom: 2rem;
    padding: 0 2em; }
    .section3 .row div h4, .section3 .row div a {
      color: #dc3545; }
    .section3 .row div p {
      font-size: 0.9rem; }
    .section3 .row div i {
      font-size: 1.2rem;
      margin-right: 0.5rem; }

.section4 {
  padding: 4rem; }
  .section4 p {
    color: gray; }
  .section4 a {
    color: #dc3545; }
  .section4 .connect h3 {
    font-size: 1.7rem;
    margin-top: 3rem; }
  .section4 .connect i {
    margin: 1em 0 0 1em;
    font-size: 1.5rem; }
  .section4 .card {
    border: none; }
    .section4 .card .card-body {
      padding-top: 0; }

footer p {
  color: #969696; }
footer a {
  color: #dc3545; }

@media screen and (max-width: 766px) {
  .imagesample img {
    max-width: 100%; }

  header ul {
    display: flex;
    flex-direction: column; }

  .section1, .section2, .section3, .section4 {
    padding: 1rem 1rem; }

  header h1 {
    font-size: 1.5rem;
    font-weight: bolder; }
  header h2 {
    font-size: 2rem; }
  header .title {
    width: 100%;
    padding-top: 0rem;
    min-height: 90vh;
    margin-left: 0rem; }
    header .title .scroll {
      text-align: right; }
  header ul {
    list-style: none; }
    header ul li {
      margin-left: .5em; }
      header ul li:hover {
        border-bottom: white 3px solid; }
  header a {
    color: white; }
  header .header-container {
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #da146d 0%, #ff004c 96%);
    opacity: 0.50;
    min-height: 100vh;
    z-index: 999; }
    header .header-container .head {
      padding: 1rem 2rem 1rem 2rem;
      min-height: 10vh; } }
@media screen and (min-width: 1200px) {
  .container-fluid {
    max-width: 75%; }

  .section3 p {
    width: 75%;
    margin: auto; } }
@media screen and (min-width: 767px) {
  .imagesample .col-md-3, .imagesample .col-md-6 {
    padding: 0;
    margin: 0;
    position: relative;
    padding-top: 25%;
    overflow: hidden; }
    .imagesample .col-md-3 img, .imagesample .col-md-6 img {
      border-radius: 0;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      filter: brightness(70%);
      object-fit: cover; } }

/*# sourceMappingURL=style.css.map */
